@model Bazowane.Models.Ocena

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ocena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdKsiazka" class="control-label">Tytul</label>
                <select asp-for="IdKsiazka" class ="form-control" asp-items="ViewBag.IdKsiazka"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdUzytkownik" class="control-label">Uzytkownik</label>
                <select asp-for="IdUzytkownik" class ="form-control" asp-items="ViewBag.IdUzytkownik"></select>
            </div>
           
            <div class="form-group">
                <label asp-for="Opinia" class="control-label"></label>
                <input asp-for="Opinia" class="form-control" />
                <span asp-validation-for="Opinia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataOceny" class="control-label"></label>
                <input asp-for="DataOceny" class="form-control" />
                <span asp-validation-for="DataOceny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
